<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <div>
      <h1>Student Registration</h1>
      <form action="/register" method="post">
        Name :
        <input
          type="text"
          required
          name="name"
          id="name"
          placeholder="Jhon Doe"
        /><br /><br />

        Roll number :
        <input type="number" required name="rno" id="rno" /><br /><br />

        Semester :
        <select name="sem" id="sem">
          <option value="">Select semester</option>
          <option value="1st">First semester</option>
          <option value="2nd">Second semester</option>
          <option value="3rd">Third semester</option>
          <option value="4th">Fourth semester</option>
          <option value="5th">Fifth semester</option>
          <option value="6th">Sixth semester</option></select
        ><br /><br />

        Gender :
        <input
          type="radio"
          name="gender"
          id="gender"
          value="Male"
          checked
        />male
        <input type="radio" name="gender" id="gender" value="Female" />Female
        <br /><br />

        Age :
        <input type="number" required name="age" id="age" min="5" /><br /><br />

        Email :
        <input
          type="email"
          name="email"
          id="email"
          placeholder="abc@example.com"
          required
        /><br /><br />

        Password :
        <input
          type="password"
          name="password"
          id="password"
          required
        /><br /><br />
        <input type="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
